node_modules/
data.json
*.log
.DS_Store
*.apk
*.keystore
builder*.js
check*.js
find_err*.js
gen_html*.js
update*.js
port.txt
android/.gradle/
android/build/
android/local.properties
android/app/build/
android/gradle/wrapper/gradle-wrapper.jar
android/gradlew
android/gradlew.bat
